html {
  scroll-behavior: smooth;
}

body {
  background-color: #EFEFEF;
  font-family: bahnschrift;
  position: relative;
  height: 100%;
}

.wrapper {
  flex: 1; /* Make the wrapper grow to fill the remaining vertical space */
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: 95vh;
}

.content {
  display: inline-block;
  width: 100%;  
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: sticky;
  bottom: 0;
}

.contact-info {
  text-align: center;
}

.mainContent {
	margin-right: 0px;
	margin-left: 0px;
}

h1 {
  color: #070a0f;
  font-size: 50px;
  vertical-align: center;
}
h2 {
  color: #070a0f;
  font-size: 30px;
  vertical-align: center;
}
h3 {
  color: #070a0f;
  font-size: 20px;
  vertical-align: center;
}
p {
  color: #161717;
  font-size: 100%;
  /* border: 2px solid rgba(7, 10, 15, 0.3); */
  margin: 10px
}
a:link, a:visited {
  color: #161717;
  background-color: transparent;
  text-decoration: underline;
  vertical-align: center;
}

a:hover, a:active {
  color: #161717;
  background-color: transparent;
  text-decoration: underline;
  vertical-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
th {
	background-color: #b5b5b5;
	border-bottom: 2px solid black;
}
tr:nth-child(odd) {
  background-color: #dbdbdb;
  
}
tr:hover {background-color: #D6EEEE;}
td:hover {background-color: #f2ffd1;}

ul {
  list-style-type: square;
}
